#bannerbar
{
    /* background-image: url(../images/DBFS-logo-app-icon.png);
	background-size: 50px 50px;
	background-position: top left;
	background-repeat: none; */
}


.ui-content
{
    padding: 0 !important;
}

.ui-listview
{
    margin: 0 !important;
}

#latestUpdates
{
    width: 100% !important;
    position: absolute;
}





*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html
{
	-ms-touch-action: none;
}

body, ul, li
{
    /* padding: 0;
    margin: 0;
    border: 0; */
}

body
{
    height: 100%;
    background: #FFFFFF;
    font-size: large;
    font-family: ubuntu, helvetica, arial;
    overflow-y: hidden; /* this is important to prevent the whole page to bounce */
    overflow-x: hidden;
	-ms-touch-action: pan-x;
    
    /* border: 2px blue solid; */
}

#header
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #b73030;
    padding: 0;
    color: #eee;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
	-ms-touch-action: none;
}

    #header img
    {
        height: 40px;
        border: none;
    }


    #header a
    {
        border: none;
		padding: 2px;
    }

        #header a img
        {
            height: 30px;
        }

#pageIndicator
{
    position: relative;
    height: 10px;
    width: 30px;
    background-color: white;
    top: -10px;
}

#footer
{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #444;
    padding: 0;
    border-top: 1px solid #444;
    text-align:center;
}

#horizontalWrapper
{
    position: absolute;
    top: 45px;
    left:0px;
    bottom: 0px;
    /*height: 100%;*/
    width: 100%;
    background: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-scroll-chaining: none; 
	-ms-touch-action: pan-x;
    
    /* border: 1px black solid; */
}

.wrapper
{
	position: relative;
    top: 0px;
    /* margin-right: 10px; */
    width: 30%;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    float: left;
	-ms-touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: none;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popupScroller
{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    position: relative;
    width: 100%; 
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: none;
}

.scroller
{
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    
    overflow-y: scroll;
    overflow-x: hidden;
    /*-webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;*/
}

#horizontalScroller
{
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 300%;
    top: 10px;
    bottom: 10px;
    overflow-x: hidden;
	overflow-y: hidden;
     -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*-webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;*/
	-ms-touch-action: pan-x;
    -ms-scroll-chaining: none; 
	
    /* border: 1px black solid; */
}

.scroller ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

.scroller p
{
    font-size: 16px;
    line-height: 40px;
}

.news-item
{
    text-align: left;
    width: 100%;
    background-color: #eee;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*background-color:#eeebd5;*/
    /*border:solid 1px black;*/
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 100px;
	/* box-shadow: 0px 2px 5px grey; */
}

    .entry-item h5, .sermon-item h5, .download-item h5
    {
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        /*float: left;*/
        width: 80%;
    }

.sermon-links, .download-links
{
    position: absolute;
    border-left: 1px solid black;
    left: 82%;
    width: 18%;
    min-height:100px;
    /*padding-bottom: 5px;*/
    top: 0px;
    bottom: 0px;
    /*float:right;*/
}

.playLink, .playDownloadLink
{
    position: absolute;
    top: 0px;
    /*border-left: 1px solid black;*/
    font-size: medium;
    float: right;
    bottom: 50%;
    width: 100%;
    clear: right;
    background-image: url(../images/glyphicons_173_play.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: darkgrey; */
    border-bottom: 1px solid black;
}

.downloadLink, .deleteDownloadLink, .downloadedLink
{
    position: absolute;
    top: 50%;
    /*border-left: 1px solid black;*/
    font-size: medium;
    float: right;
    bottom: 100%;
    width: 100%;
    height: 50%;
    clear: right;
    background-image: url(../images/glyphicons_212_down_arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: darkgrey; */
}

.deleteDownloadLink
{
    background-image: url(../images/glyphicons_016_bin.png);
}

.downloadedLink
{
    background-image: url(../images/glyphicons_206_ok_2.png);
}

.cancelDownloadLink
{
    position: absolute;
    top: 0%;
    /*border-left: 1px solid black;*/
    font-size: medium;
    float: right;
    bottom: 100%;
    width: 100%;
    height: 100%;
    clear: right;
    background-image: url(../images/glyphicons_207_remove_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: darkgrey; */
}

.entry-text
{
    padding-left:5px;
    text-align: left;
    width: 80%;
    /*background-color: #f7f6e4;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sermon-item, .download-item
{
    position: relative;
    text-align: left;
    width: 100%;
    background-color: #eee;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    min-height:100px;
	/* box-shadow: 0px 2px 5px grey; */
}

.sermon-text, .download-text
{
    padding-left: 5px;
    text-align: left;
    width: 80%;
    line-height: normal !important;
    font-size:16px;
}

.videoclass
{
    display:none;
}

.newsPage
{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    bottom: 45px;
    z-index: 2;
    padding: 15px 15px 15px 15px;
    text-align: center;
    background: #ccc;
}

.newsPage p
{
    text-align:left;
    font-size: 16px;
    line-height: 30px;
}

    .newsPage .wrapper
    {
        position: relative;
        width:100%;
    }

    .newsPage .scroller
    {
        width: 100%;
    }
	
.loadingbanner {
	background-color: green;
}   

.offlinebanner {
	background-color: grey;
}



.templatePopup {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    top: 48px;
    bottom: 10px;
    background-color:#ccc;
    z-index: 3;
    backface-visibility: hidden;
    -ms-touch-action: pan-x;
    overflow: hidden;
    text-align: center;
}

.templatePopup h3 {
    text-align: center;
}

.sermonPopupContent {
    position: absolute;
    top: 25%;
    height: 50%;
    background-color: #cccccc;
    width: 100%;
}

.sermonPopupButtons {
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.sermonPlayButton, .sermonDownloadButton {
    width: 50%;
    padding-top: 15px;
    height: 50px;
    float: left;
}

.img-responsive {
    width: 100%;
    height: auto;
}
