<?xml version='1.0' encoding='utf-8'?>
<widget id="org.dbfsouth.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>DBF South</name>
    <description>
        An app for DBFSouth.org
    </description>
    <author email="programmerbygrace@gmail.com" href="http://dbfsouth.org">
        Luke Bennett
    </author>
	
    <gap:plugin name="org.apache.cordova.network-information" />
	
    <content src="index.html" />
    <access origin="*" />
</widget>
